header{
    width: 100%;
    position: fixed;
    padding: 20px;
    z-index: 999;
    &:before{
        content: '';
        position: absolute;
        top: 45px;
        left: 85px;
        width: 100%;
        height: 1px;
        background-color: $secondary-blue;

    }
    &:after{
        content: '';
        position: absolute;
        top: 85px;
        left: 45px;
        width: 1px;
        height: 100vh;
        background-color: $secondary-blue;

    }
    #burger{
        position: relative;
        width: 50px;
        height: 50px;
        background-color: transparent;
        border: 1px solid $secondary-blue;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        cursor: pointer;
        .burger-line{
            width: 40%;
            margin-bottom: 3px;
            background: linear-gradient(to left, $secondary-blue 50%, white 50%);
            background-size: 200% 100%;
            background-position:right bottom;
            height: 1px;
            z-index: 2;
        }
        #burger-mask{
            background: linear-gradient(180deg, $primary-blue 0%, $purple 50%, $pink 100%);
            width: 50px;
            height: 50px;
            max-height: 0;
            position: absolute;
            bottom: -1px;
            transition: .5s;
            z-index: 1;
        }
        &:hover > #burger-mask{
            max-height: 50px;
        }
        &:hover > .burger-line{
            background-position:left bottom;
            transition:all .5s ease;
        }
    }
}

.nav-menu{
    display: none;
}

@keyframes slideRight{
  0%{transform: translateX(-100%)}
  100%{transform: translateX(0%)}
}

.menu-show{
    animation: slideRight 1s ease;
    width: 30%;
    background-color: $primary-blue;
    height: 100vh;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 10;
    padding-top: 20px;
    padding-left: 20px;
    #times-icons{
        width: 50px;
        height: 50px;
        cursor: pointer;
        position: relative;
        &:before{
            position: absolute;
            top: 25px;
            left: 10px;
            content: '';
            width: 30px;
            background-color: white;
            height: 1px;
            transform: rotate(45deg);
        }
        &:after{
            position: absolute;
            top: 25px;
            left: 10px;
            content: '';
            width: 30px;
            background-color: white;
            height: 1px;
            transform: rotate(-45deg);
        }
    }
    ul{
        list-style: none;
        position: relative;
        padding: 40px 40px 40px 40px;
        a{
            padding-bottom: 20px;
            margin-bottom: 30px;
        }
    }
}