@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;800&display=swap");
header {
  display: flex;
  justify-content: space-between;
  width: 100%;
  position: fixed;
  padding: 20px;
  z-index: 999;
}
header:before {
  content: "";
  position: absolute;
  top: 58px;
  left: 77px;
  width: 100%;
  height: 1px;
  background-color: #542467;
}
header:after {
  content: "";
  position: absolute;
  top: 110px;
  left: 37px;
  width: 1px;
  height: 100vh;
  background-color: #542467;
}
header #logo {
  max-width: 35px;
  margin-top: 15px;
}
header #menu-nav ul {
  display: flex;
  list-style: none;
  padding-left: 0;
  margin: 0;
}
header #menu-nav ul li {
  margin-right: 50px;
  font-size: 20px;
}

footer {
  padding: 0 70px 20px 70px;
  position: relative;
  display: flex;
  justify-content: space-between;
}
footer .copyright {
  display: flex;
  align-items: center;
}
footer .copyright i {
  display: block;
  margin-right: 5px;
}
footer .fab {
  margin-right: 10px;
}

h1, h2, h3, h4 {
  font-family: "Open Sans", sans-serif;
  color: #ffffff;
}

h1 {
  font-size: 100px;
  font-weight: 800;
  margin-bottom: 0;
  /*background-image: linear-gradient(90deg,$purple 30%,$pink);
  background-size: 100%;
  -webkit-background-clip: text;
  -moz-background-clip: text;
  -webkit-text-fill-color: transparent; 
  -moz-text-fill-color: transparent;*/
}

h2 {
  margin-top: 0;
  font-size: 50px;
  font-weight: 300;
}

h3 {
  font-size: 30px;
  font-weight: 400;
}

h4 {
  font-size: 20px;
  margin-top: 0;
}

.portfolio {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  margin-top: 100px;
}
.portfolio .portfolio-card {
  display: flex;
  margin-top: 20px;
  margin-bottom: 100px;
  width: 87%;
  justify-content: center;
}
.portfolio .portfolio-card img {
  width: 100%;
  margin-right: 50px;
  max-width: 500px;
  box-shadow: 0px 0px 10px 5px rgba(0, 0, 0, 0.1);
}
.portfolio .portfolio-card img:hover {
  animation: zoom 1s;
}
.portfolio .portfolio-card div {
  padding: 0 20px;
}
.portfolio .portfolio-card div p:nth-child(3) {
  margin-bottom: 50px;
}
.portfolio .portfolio-card.reverse {
  flex-direction: row-reverse;
}
.portfolio .btn {
  width: 200px;
  text-align: center;
}
.portfolio.port-page {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr;
  grid-column-gap: 10px;
  grid-row-gap: 20px;
}
.portfolio.port-page .portfolio-card {
  flex-direction: column;
}

@keyframes zoom {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(1.1);
  }
}
#contact {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  margin-bottom: 150px;
  margin-top: 100px;
}

#placeholder-contact {
  width: 70%;
  margin: auto;
  height: 500px;
  border: 1px solid #542467;
}

body {
  margin: 0;
  padding: 0;
  height: 1000px;
  background-color: black;
}

* {
  box-sizing: border-box;
}

.page-container {
  max-width: 1200px;
  margin: auto;
  padding-top: 50px;
}
@media all and (max-width: 1200px) {
  .page-container {
    padding: 50px;
  }
}

a, p, li {
  font-family: "Open Sans", sans-serif;
  font-size: 17px;
  font-weight: 400;
  color: #ffffff;
}

i {
  color: #ffffff;
  font-size: 20px;
}

.separator {
  width: 1px;
  height: 100px;
  background-color: #542467;
  margin: auto;
}

.btn {
  border: 1px solid #542467;
  border-radius: 10px;
  padding: 10px 20px;
  background-color: transparent;
}
.btn:hover {
  background-color: #210344;
  border: 1px solid transparent;
}

/*# sourceMappingURL=style.css.map */
