@import 'variables';
@import 'header';
@import 'footer';
@import 'titles';
@import 'portfolio';
@import 'contact';

body{
  margin: 0;
  padding:0;
  height: 1000px;
  background-color: black;
}

*{
    box-sizing: border-box;
}

.page-container{
    max-width: 1200px;
    margin: auto;
    padding-top: 50px;
    @media all and (max-width : 1200px){
        padding: 50px;
    }
}

a, p, li {
    font-family: 'Open Sans', sans-serif;
    font-size: 17px;
    font-weight: 400;
    color: #ffffff;
}

i{
    color: #ffffff;
    font-size: 20px;
}

.separator{
    width: 1px;
    height: 100px;
    background-color: $purple-light;
    margin: auto;
}

.btn{
    border: 1px solid $purple-light;
    border-radius: 10px;
    padding: 10px 20px;
    background-color: transparent;
    &:hover{
        background-color: $purple;
        border: 1px solid transparent;
    }
}
